.header{
    background-image: url("https://bit.ly/3a7gKxQ" );
    filter: blur(0.1px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
    height: 80vh;
}

.i{
    text-align: center;
    font-size:90px;
    padding:60px
    
}
#c{
    
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 20px  orangered, 0 0 20px orangered, 0 0 30px yellowgreen, 0 0 40px yellowgreen, 0 0 50px yellowgreen, 0 0 60px yellowgreen, 0 0 70px yellowgreen;
    }
    
    to {
      text-shadow: 0 0 20px orangered, 0 0 30px yellowgreen, 0 0 40px greenyellow, 0 0 50px yellowgreen, 0 0 60px yellowgreen, 0 0 70px yellowgreen, 0 0 80px yellowgreen;
    }
  }
  